.hero {
    padding-top: 220px;
    padding-bottom: 355px;
    background-image:url("../../img/bg-image.jpg");
    background-color: $gray;
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;

    &__content {
        max-width: 590px;
    }

    &__btns {
        .btn {
            &:not(:last-child){
                margin-right: 22px;
            }
        }
    }
}