.mission {
    background-color: $white;
    &__list {
        $missionGap:94px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 27px;
        gap: $missionGap * 2;
    }

    &__item {
        $missionGap: 94px;
        position: relative;
        padding-top: 70px;
        text-align: center;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 48px 48px;
        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                right: -1 * $missionGap;
                top: 0;
                width: 1px;
                height: 100%;
                background-image: url("../../img/border.svg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        &--quality {
            background-image: url("../../img/quality.svg");
        }

        &--safety {
            background-image: url("../../img/safery.svg");
        }

        &--comfort {
            background-image: url("../../img/comfort.svg");
        }
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 11px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: $ebony;
    }

    &__descr {
        font-size: 16px;
        line-height: 160%;  
        margin: 0;
        color: $stormGray;
    }
}

.know-form {
    position: relative;
    top: 92px;
    background: $white;
    padding: 48px 60px;
    box-shadow: 
    0px 80px 80px -20px rgba(154, 156, 165, 0.08), 
    0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
    0px 12px 10px -6px rgba(154, 156, 165, 0.04), 
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;

    &__title {
        text-align: center;
        margin: 0;
        margin-bottom: 33px;
        font-weight: 700;
        font-size: 28px;    
        line-height: 150%;
        color: $ebony;
    }
    &__content {
       display: flex;
       align-items: flex-end;
    }

    &__field {
        margin-right: 24px;
    }

    &__btn {
        padding: 11px 29px;
    }
}