<header class="header header--main">
  <div class="container header__container">
    <a class="logo" href="#">
      <img src="../img/logo.svg" alt="Createx logo">
    </a>
    <nav class="nav header-nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Work</a></li>
        <li class="nav__item"><a href="#" class="nav__link">News</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-contacts">
      <a class="header-contacts__link contacts-link contacts-link--call" href="tel:4055550128">
        <span class="contacts-link__caption">Call us</span>
        <span class="contacts-link__value">(405) 555-0128</span>
      </a>
      <a class="header-contacts__link contacts-link contacts-link--mail" href="mailto:hello@createx.com">
        <span class="contacts-link__caption">Talk to us</span>
        <span class="contacts-link__value">hello@createx.com</span>
      </a>
    </div>
  </div>
</header>
